.container {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 56px;
  padding: 0 var(--spacing-xl) 0 3rem;
  /* Left padding for search icon */
  font-size: 1.125rem;
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-sm);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px rgba(0, 82, 204, 0.1);
}

[data-theme='dark'] .input {
  border-color: var(--gray-700);
  background-color: var(--gray-800);
}

.searchIcon {
  position: absolute;
  left: 1.25rem;
  color: var(--gray-400);
  pointer-events: none;
}

.submitButton {
  position: absolute;
  right: 0.75rem;
  height: 40px;
  padding: 0 var(--spacing-lg);
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  border-radius: var(--radius-full);
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: var(--primary-hover);
}